<div class="row" id="serviceDashboard">
    <div class="col-md-3 navigationPanel">
        <div class="notification" ui-view="notify"></div>
        <div class="applications" ui-view="applications"></div>
        <div class="knowledgeCenter" ui-view="knowledgeCenter"></div>
    </div>
    <div class="col-md-9 informationPanel">
        <div class="statistics" ui-view="ticketStatistics"></div>
        <div class="viewer" ui-view="ticketViewer"></div>
        <div class="graph" ui-view="ticketGraph"></div>
    </div>
</div>